{% assign bg_color = section.settings.bg_color %}
{% assign question_font_color = section.settings.question_font_color %}
{% assign answer_font_color = section.settings.answer_font_color %}
{% assign form_header = section.settings.form_header %}

{% for block in section.blocks %}

{% endfor %}

<section class="gdc-faq">
  {% for block in section.blocks %}
    {% if  block.settings.section_title %}
      <h4>{{ block.settings.section_title }}</h4>
    {% endif %}
    {% if  block.settings.question %}
      <button class="gdc-accordion">{{ block.settings.question }}</button>
      <div class="gdc-panel">
        {{ block.settings.answer }}
      </div>
   {% endif %}
  {% endfor %}
</section>


{% style %}
  .gdc-accordion {
    background-color: {{ bg_color }}; 
    color: {{ question_font_color }};
  }

  .gdc-panel {
    color: {{ answer_font_color }};
  }

  .gdc-accordion:after {
    color: {{ question_font_color }};
  }

  /* ---------------- [GDC] FAQ Section -------------------- */
  /* ---------------- Move to theme.scss -------------------- */

.gdc-faq {
  width: 100%;
  margin: 0 auto;
}

.gdc-accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2px;
  position: relative;
}

.gdc-accordion p {
  display: inline-block;
  font-weight: bolder;
  margin: 0;
}

.active, .gdc-accordion:hover {
  filter: brightness(1.1);
}

.gdc-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active .gdc-panel {
  max-height: 400px;
}

.gdc-accordion:after {
  content: '+'; 
  position: absolute;
  right: 20px;
  top: 40%;
  font-size: 38px;
}

.active:after {
  content: "-";
  font-size: 40px;
  top: 35%;
}


{% endstyle %}

{% schema %}
{
  "name": "FAQ",
  "class": "faq",
  "settings": [
    {
      "id": "bg_color",
      "type": "color",
      "label": "FAQ Color",
      "info": "The background color for your FAQ question." 
    },
    {
      "id": "question_font_color",
      "type": "color",
      "label": "Question Font Color",
      "info": "The color for the question font." 
    },
    {
      "id": "answer_font_color",
      "type": "color",
      "label": "Answer Font Color",
      "info": "The color for the answer font." 
    },
    {
      "id": "form_header",
      "type": "text",
      "label": "Contact Form Header"
    }
  ],
  "blocks": [
    {
      "type": "FAQ_entry", 
      "name": "FAQ Entry",
      "settings": [
      {
        "type": "header",
        "content": "FAQ entry"
      },
      {
        "id": "question",
        "type": "richtext",
        "label": "Question",
        "info": "The question for your FAQ entry."
      },
      {
        "id": "answer",
        "type": "richtext",
        "label": "Answer",
        "info": "The answer for your FAQ entry."
      }
      ]
    },
    {
      "type": "Section_Title", 
      "name": "Section Title",
      "settings": [
      {
        "type": "header",
        "content": "Section Title"
      },
      {
        "id": "section_title",
        "type": "text",
        "label": "Section Title",
        "info": "The subject for this section"
      }
      ]
    }
  ]
}

{% endschema %}


{% javascript %}


  const acc = document.getElementsByClassName("gdc-accordion");

  for (let i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {  
      this.classList.toggle("active");
      let panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }


{% endjavascript %}