{% assign bg_color = section.settings.bg_color %}
{% assign class = section.settings.class %}
{% assign header_font_color = section.settings.header_font_color %}
{% assign header_bg_color = section.settings.header_bg_color %}

{% style %}
.portfolio__entry {
  background: {{ bg_color }};
}

.portfolio__header {
  color: {{ header_font_color }};
  background-color: {{ header_bg_color }};
}

.portfolio-item__overlay {
  background-color: {{ header_bg_color }}30;
}

/* ------- Move these styles to theme.scss.liquid ------------*/

button:focus {outline:0;}

.portfolio__entry {
  min-height: 90vh;
  margin-bottom: 40px;
}

.portfolio__header {
  text-align:center;
  padding: 20px 0;
  margin-bottom: 6px;
}

.portfolio__gallery {
  display: grid;
  overflow: hidden;
  grid-gap: 6px;
  width: 100vw;
  height: 90vh;
  grid-template-columns: repeat(auto-fill, minmax(5%, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  width: 100%;
}

.portfolio-item,
.portfolio-item--small {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}

.portfolio-item:nth-of-type(3n) {  
  order: -6;
}

.portfolio-item:nth-of-type(even) {  
  order: 2;
}

.portfolio-item--small:nth-of-type(odd) {
  order: -3;
}


.portfolio-item--small:nth-of-type(even) {
  order: 3;
}

.portfolio-item.v2 {
  grid-row: span 2;
}

.portfolio-item.v3 {
  grid-row: span 3;
}

.portfolio-item.v4 {
  grid-row: span 5;
}

.portfolio-item.h2 {
  grid-column: span 2;
}

.portfolio-item.h3 {
  grid-column: span 3;
}

.portfolio-item.h4 {
  grid-column: span 5;
}


.portfolio-item__image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-item__overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.2s;
}

.portfolio-item:hover .portfolio-item__overlay {
  transform: translateY(0);
}

.portfolio-item--small:hover .portfolio-item__overlay {
  transform: translateY(0);
}

.portfolio-item__button {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
}

.portfolio-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding-top: 150px;
  z-index: 2;
}

.portfolio-overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow-y: scroll;
  z-index: 1000;
}

.portfolio-overlay .portfolio-overlay-inner {
  background:#333;
  width: 700px;
  padding: 20px;
  object-fit: contain;
}

.portfolio-overlay img {
  width: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.portfolio-overlay__close {
  background: none;
  color: white;
  border: 0;
  font-size: 1.2em;
  transform: translateY(-10px); 
}

.noscroll {
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .portfolio__gallery {
    height: 150vw;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  }
  .portfolio-overlay .portfolio-overlay__inner {
    width: 70vw;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__gallery {
    height: 200vw;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  }
  .portfolio-overlay .portfolio-overlay__inner {
    width: 90vw;
  }
}


{% endstyle %}

<div class="{{ class }}">
  <div class="portfolio-overlay">
    <div class="portfolio-overlay__inner">
      <button class="portfolio-overlay__close hidden">× Close</button> 
      <img>
    </div>
  </div>

  {% for block in section.blocks %}
    <div class="portfolio__header">
      <h3>{{block.settings.title}}</h3>
      <p>{{block.settings.text}}</p>
    </div>
      <section class="portfolio__gallery">

        {% for num in (1..10) %}

        {%- assign image_key = num | prepend: 'image_' -%}
        {%- assign image = block.settings[image_key] -%}
        
        {% if image %}
            {% for num in (1..2) %}
              <div class="portfolio-item">
                <img class="portfolio-item__image" src="{{ image | img_url: '700x' }}" />
                <div class="portfolio-item__overlay"> 
                  <button class="portfolio-item__button">View ➡</button>
                </div>
              </div>
            {% endfor %}

            {% for num in (1..2) %}
              <div class="portfolio-item--small">
                <img class="portfolio-item__image" src="{{ image | img_url: '700x' }}" />
                <div class="portfolio-item__overlay"> 
                  <button class="portfolio-item__button">View ➡</button>
                </div>
              </div>
            {% endfor %}
        {% endif %}

       {% endfor %}
    </section>
  {% endfor %}
</div>

{% javascript %}

const overlay = document.querySelector('.portfolio-overlay');
const overlayImage = overlay.querySelector('img');
const body = document.querySelector('body');
const overlayClose = overlay.querySelector('.portfolio-overlay__close');


function randomNumber(limit) {
  return Math.floor(Math.random() * limit) + 1;
}

function handlePortfolioClick(e) {
  const src = e.currentTarget.querySelector('img').src;
  overlayImage.src = src;
  open();
}

function open() {
  overlay.classList.add('open');    
  body.classList.add('noscroll');
  overlayClose.classList.remove('hidden');
}

function close() { 
  overlay.classList.remove('open');
  body.classList.remove('noscroll');
  overlayClose.classList.add('hidden');
}

const items = document.querySelectorAll('.portfolio-item');
const smallItems = document.querySelectorAll('.portfolio-item--small'); 

smallItems.forEach(item => {    
  item.addEventListener('click', handlePortfolioClick);
});

items.forEach(item => {
  item.addEventListener('click', handlePortfolioClick);
  item.classList.add(`h${randomNumber(4)}`, `v${randomNumber(4)}`);
});

overlayClose.addEventListener('click', close);

{% endjavascript %}

{% schema %}
{
  "name": "Portfolio",
  "class": "portfolio__entry",
  "settings": [
    {
      "id": "bg_color",
      "type": "color",
      "label": "Background Color",
      "info": "The background color for your portfolio." 
    },
    {
      "id": "header_font_color",
      "type": "color",
      "label": "Header Font Color"
    },
    {
      "id": "header_bg_color",
      "type": "color",
      "label": "Header Background Color"
    }
  ],
  "blocks": [
  {
      "type": "portfolio_entry", 
      "name": "Portfolio Entry",
      "settings": [
      {
        "type": "header",
        "content": "Portfolio entry"
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "info": "The title for your Portfolio entry (Optional):"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Summary",
        "info": "Tell your audience about the entry:"
      },
      {
        "id": "image_1",
        "type": "image_picker",
        "label": "Image 1"
      },
      {
        "id": "image_2",
        "type": "image_picker",
        "label": "Image 2"
      },
      {
        "id": "image_3",
        "type": "image_picker",
        "label": "Image 3"
      },
      {
        "id": "image_4",
        "type": "image_picker",
        "label": "Image 4"
      },
      {
        "id": "image_5",
        "type": "image_picker",
        "label": "Image 5"
      },
      {
        "id": "image_6",
        "type": "image_picker",
        "label": "Image 6"
      },
      {
        "id": "image_7",
        "type": "image_picker",
        "label": "Image 7"
      },
      {
        "id": "image_8",
        "type": "image_picker",
        "label": "Image 8"
      },
      {
        "id": "image_9",
        "type": "image_picker",
        "label": "Image 9"
      },
      {
        "id": "image_10",
        "type": "image_picker",
        "label": "Image 10"
      }
      ]
    }
  ]
}

{% endschema %}