<!-- /snippets/gdc-discounts.liquid -->
{% assign button_url = section.settings.button_url %}
{% assign chart_title = section.settings.chart_title %}
{% assign chart_text = section.settings.chart_text %}



<div class="gdc-discounts-chart">
    <div class="gdc-discounts">
        <div class="gdc-discounts__title">
            <span>{{ chart_title }}</span>
        </div>
        <div class="gdc-discounts__quantities">
            {% for block in section.blocks %}
                {% if block.type == 'Quantity' %}
                <span>{{ block.settings.quantity }}</span>  
                {% endif %}
            {% endfor %} 
        </div>

        <div class="gdc-discounts__prices">
            {% for block in section.blocks %}
            {% if block.type == 'Quantity' %}
                <span>{{ block.settings.price }}</span>
            {% endif %}
            {% endfor %} 
        </div>
        <div class="gdc-discounts__info">
         {{ chart_text }}
        </div>
    </div>
    <div class="agency-product-grid__btn">
        <a 
        class="btn btn--large btn--full" 
        href={{ button_url }} 
        title="Order Form" 
        data-mce-fragment="1" 
        data-mce-href="{{ button_url }}"  
        target="_blank">
        Printable Order Form (PDF)
        </a>
    </div>
</div>

{% style %}
  /*============ [GDC] Booklets Discounts ==================*/

.gdc-discounts__title,
.gdc-discounts__quantities,
.gdc-discounts__prices,
.gdc-discounts__info {
  padding: 20px;
}

.gdc-discounts {
	width: 65%;
	min-width: 400px;
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid;
  text-align: center;  
  
  :not(:last-child) {
   margin-bottom: 2px; 
  } 
  
  span {
   display: block;  
  }
}

.gdc-discounts__title {
  grid-column: 1 / -1;
  border-bottom: 1px solid;
  text-transform: uppercase;
  
  span {
   font-size: 1.1em; 
  }
}

.gdc-discounts__quantities {
  grid-column: 1;
  border-right: 1px solid;
}

.gdc-discounts__prices {
  grid-column: 2;
}

.gdc-discounts__info {
  grid-column: 1/ -1;
  border-top: 1px solid;
}

{% endstyle %}

{% schema %} 
  {
    "name": "Chart Settings", 
    "settings": [
      {
        "id": "chart_title",
        "type": "text",
        "label": "Chart Title" 
      },
      {
        "id": "button_url",
        "type": "text",
        "label": "Button URL" 
      },
      {
        "id": "chart_text",
        "type": "richtext",
        "label": "Bottom section text" 
      }
    ],  
    "blocks": [
    { 
      "type": "Quantity", 
      "name": "Chart Item",
      "settings": [
      {
        "type": "header",
        "content": "Quantity Item"
      },
      {
        "id": "quantity",
        "type": "text",
        "label": "Quantity Parameter" 
      },
      {
        "id": "price",
        "type": "text",
        "label": "Price" 
      }
      ]
    }
    ]
  }
{% endschema %}
